<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
  <div class="title">
    <h4>Listado de productos</h4>
    <button type="button" class="btn btn-primary" routerLink="/add">
      Agregar producto
    </button>
  </div>
  <table *ngIf="listProducts.length > 0" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listProducts" class="table-active">
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price | currency }}</td>
        <td>{{ item.stock }}</td>
        <td class="edit-delete-buttons">
          <button
            type="button"
            class="btn btn-info btn-sm"
            routerLink="/edit/{{ item.id }}"
          >
            Edit
          </button>
          <!-- item.id! se pone el signo para decir que va a tener un valor y no sera undefined -->
          <button
            (click)="deleteProduct(item.id!)"
            type="button"
            class="btn btn-secondary btn-sm"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 *ngIf="listProducts.length == 0">No hay productos para mostrar</h5>
</div>
